@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-text: #333333;

$color-passenger: #09b73e;
$color-startup-shell: #d74035;
$color-slide: #2c2930;
$color-make-school: #019cdb;

// overrides
//

body {
  background-color: #f9f9f9;
}

@media (min-width: 1200px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

a {
  color: $primary-text;

  &:hover {
    color: $primary-text;
  }
}

//
//

.nav-bar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  height: 90px;
  max-width: 720px;
  z-index: 99;

  display: flex;
  justify-content: space-between;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

  .nav-item {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    width: 30px;
    height: 30px;
    margin-top: 45px;

    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 1.0;
    cursor: pointer;

    &:nth-child(1) {
      background-image: url("../images/icon-linkedin.svg");
    }
    &:nth-child(2) {
      background-image: url("../images/icon-twitter.svg");
    }
    &:nth-child(4) {
      background-image: url("../images/icon-dribbble.svg");
    }
    &:nth-child(5) {
      background-image: url("../images/icon-medium.svg");
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .profile-pic {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    border-radius: 50%;
    background-image: url("../images/prof-pic-1.png");
    background-size: 100% 100%;
  }

  .nav-item-scrolled {
    margin-top: 15px;
  }

  .profile-pic-scrolled {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

.nav-bar-scrolled {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  max-width: 300px;
}

.about {
  font-size: 18px;
  margin-top: 145px;
  text-align: center;
  cursor: default;

  .text-link {
    font-weight: bold;
    text-decoration: none;
    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  #startup-shell:hover {
    color: $color-startup-shell;
  }
  #passenger:hover {
    color: $color-passenger;
  }  
  #slide:hover {
    color: $color-slide;
  }  
  #make-school:hover {
    color: $color-make-school;
  }

}

.projects {
  margin-top: 44px;

  .project {
    position: relative;
    margin-bottom: 24px;
    border-radius: 8px;
    height: 120px;
    background-color: red;

    &:hover {
      box-shadow: 1px;
    }
  }

  .project-title {
    position: absolute;
    margin: 0px;
    color: white;
    left: 24px;
    bottom: 12px;
  }
}


