@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primary-text: #333333;

$color-passenger: #09b73e;
$color-startup-shell: #d74035;
$color-slide: gray; // #2c2930;
$color-make-school: #019cdb;
$color-bread: #067899;

$card-shadow: 0px 6px 12px 3px rgba(0,0,0,0.06);

// overrides
//

body {
  background-color: #f9f9f9;
}

@media (min-width: 1200px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 720px;
  }
}

a {
  color: $primary-text;

  &:hover {
    color: $primary-text;
  }
}

// 
//

.div-fill {
  display: block;
  height: 100%;
  width: 100%;
}

//
//

.nav-bar {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  height: 90px;
  max-width: 720px;
  z-index: 99;

  display: flex;
  justify-content: space-between;

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;

  .nav-item {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;

    width: 30px;
    height: 30px;
    margin-top: 45px;

    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;

    // change which attribute is animated independently
    // transition: height 0.3s ease-out;

    opacity: 1.0;
    cursor: pointer;

    &:nth-child(1) {
      background-image: url("../images/icon-linkedin.svg");
    }
    &:nth-child(2) {
      background-image: url("../images/icon-twitter.svg");
    }
    &:nth-child(4) {
      background-image: url("../images/icon-dribbble.svg");
    }
    &:nth-child(5) {
      background-image: url("../images/icon-medium.svg");
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .profile-pic {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    border-radius: 50%;
    background-image: url("../images/prof-pic-1.png");
    background-size: 100% 100%;
    position: relative;
  }

  .nav-item-scrolled {
    margin-top: 15px;
  }

  .profile-pic-scrolled {
    width: 30px;
    height: 30px;
    margin-top: 15px;
  }
}

.nav-bar-scrolled {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  max-width: 300px;
}

.name {
  text-align: center;
  margin-top: 120px;
}

.about {
  font-size: 18px;
  margin-top: 17px;
  text-align: center;
  cursor: default;

  .text-link {
    font-weight: bold;
    text-decoration: none;
    &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  #link-bread:hover {
    color: $color-bread;
  }
  #link-startup-shell:hover {
    color: $color-startup-shell;
  }
  #link-passenger:hover {
    color: $color-passenger;
  }  
  #link-slide:hover {
    color: $color-slide;
  }  
  #link-make-school:hover {
    color: $color-make-school;
  }

}

.projects {
  margin-top: 44px;
  cursor: default;

  .project-img {
    position: relative;
    margin-bottom: 24px;
    border-radius: 6px;
    overflow: hidden; 

    // Makes div a responsive square
    width: 100%;
    padding-bottom: 100%;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

    // &:hover {
    //   cursor: pointer;
    //   box-shadow: $card-shadow;
    // }
  }
    
  #flip-highlights {
    background-image: url("../images/project-preview-flip-highlights.png");
    background-size: cover;
  }
  #startup-shell-deck {
    background-image: url("../images/project-preview-ss-deck.png");
    background-size: cover;
  }
  #bhg {
    background-image: url("../images/project-preview-bhg.png");
    background-size: cover;
  }  
  #passenger {
    background-image: url("../images/project-preview-passenger.png");
    background-size: cover;
  }
  #startup-shell-web {
    background-image: url("../images/project-preview-startup-shell-web.png");
    background-size: cover;
  }
  #slide {
    background-image: url("../images/project-preview-slide.png");
    background-size: cover;
  }
  #bhg {
    background-image: url("../images/project-preview-bhg.png");
    background-size: cover;
  }

  .project-header {
    h1 {
      font-size: 24px;
      line-height: 12px;
    }

    h2 {
      font-size: 14px;
      line-height: 0px;
      color: red;
    }
   }

  .project-tags {
    h3 {
      font-size: 14px;
      display: inline-block;
      background-color: #EDEDED;
      color: #ACACAC;
      padding: 4px 8px;
      border-radius: 2px;
      margin: 4px 0px;

      &:hover {
        color: black;
      }
    }
  }

  .project-description {
    margin-top: 12px;

    p {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .project-cta {
    margin-bottom: 44px;
    p {
      cursor: pointer;
    }
  }

  #project-link {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .project-cta {
    margin-bottom: 0px;
  }
}


