{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="container">
  <div class="nav-bar">
    <div class="nav-item center-block"><a class="div-fill" href="https://www.linkedin.com/in/samuel-drozdov" target="_blank"></a></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://twitter.com/SamuelDrozdov" target="_blank"></a></div>
    <div class="nav-item center-block profile-pic"></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://dribbble.com/droz" target="_blank"></a></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://medium.com/@drozzz" target="_blank"></a></div>
  </div>

  <div class="name">
    <div class="row"> 
      <div class="col-md-12">
        <h2>Sam Drozdov</h2>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="row"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
        Product designer. Helping with design, strategy, and community at <a class="text-link" id="link-startup-shell" href="https://startupshell.org/" target="_blank">Startup Shell</a>. Senior at the University of Maryland studying Product Design. Previously worked with <a class="text-link" id="link-bread" href="https://getbread.com/" target="_blank">Bread</a>, <a class="text-link" id="link-passenger" href="http://usepassenger.com/" target="_blank">Passenger</a>, <a class="text-link" id="link-slide" href="https://www.crunchbase.com/organization/slide-2" target="_blank">Slide</a>, <a class="text-link" id="link-make-school" href="https://www.makeschool.com/" target="_blank">Make School</a>.
      </div>
    </div>
  </div>

  <div class="projects">

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
          <a href="https://www.behance.net/gallery/48086123/Feature-Concept-Flipboard-Highlights" target="_blank">
            <div class="project-img" id="flip-highlights"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>FEATURE CONCEPT<h2>
            <h1>Flipboard Highlights<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">Product Design</h3>
            <h3 class="tag">User Experience Design</h3>
            <h3 class="tag">User Interface Design</h3>  
          </div>
          <div class="project-description">
            <p>
              Flipboard highlights allow you to seamlessly save highlights of articles to add to your magazines, share with your friends, and expand your collection of knowledge.
            </p>
          </div>
          <div class="project-cta">
            <p><a href="https://www.behance.net/gallery/48086123/Feature-Concept-Flipboard-Highlights" target="_blank">See more on Behance</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
          <a href="https://www.behance.net/gallery/50293513/Slide-Deck-Startup-Shell" target="_blank">
            <div class="project-img" id="startup-shell-deck"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>SLIDE DECK<h2>
            <h1>Startup Shell<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">Graphic Design</h3>
            <h3 class="tag">Information Architecture</h3>
          </div>
          <div class="project-description">
            <p>
              Startup Shell is a non-profit, student-run incubator and coworking space for student-run startups. The slide deck is meant to be given out to potential contributors, partners, and mentors/advisors.
            </p>
          </div>
          <div class="project-cta">
            <p><a href="https://www.behance.net/gallery/50293513/Slide-Deck-Startup-Shell" target="_blank">See more on Behance</a></p>
            <p><a href="http://www.dbknews.com/2017/05/03/brendan-iribe-startup-shell-donation/" target="_blank">Read about Brendan Iribe's donation</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
          <a href="https://itunes.apple.com/us/app/passenger-commute-mnr-metro/id1001614865?mt=8" target="_blank">
            <div class="project-img" id="passenger"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>APP DESIGN<h2>
            <h1>Passenger iOS<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">Product Design</h3>
            <h3 class="tag">App Design</h3>
            <h3 class="tag">User Experience Design</h3>
            <h3 class="tag">User Interface Design</h3>   
          </div>
          <div class="project-description">
            <p>
              Co-founded Passenger with my <a href="https://mrdrozdov.github.io/" target="_blank">brother</a> to improve the commuting experience by making the easiest to use train schedule that solves commuter pain points and provides daily delight.
            </p>
          </div>
          <div class="project-cta">
            <p>Read about it <a href="http://www.lohud.com/story/news/transit/2015/12/15/scarsdale-metro-north-app/77056810/" target="_blank">here</a>, <a href="http://scarsdale10583.com/about-joomla/entertainment/5119-edgemont-grads-develop-a-better-commuter-app" target="_blank">here</a>, or <a href="http://www.masstransitmag.com/press_release/12196274/commuter-action-group-partners-with-passenger-app-and-uber" target="_blank">here</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
          <a href="https://invis.io/UQ9ERPW2D" target="_blank">
            <div class="project-img" id="startup-shell-web"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>WEB DESIGN<h2>
            <h1>Startup Shell<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">Web Design</h3>
            <h3 class="tag">User Experience Design</h3>
            <h3 class="tag">User Interface Design</h3>   
          </div>
          <div class="project-description">
            <p>
              The Startup Shell website is designed to attract student entrepreneurs to get inolved with the community as well as be a source of information for potential partners, advisors and contributors.
            </p>
          </div>
          <div class="project-cta">
            <p><a href="https://itunes.apple.com/us/app/passenger-commute-mnr-metro/id1001614865?mt=8" target="_blank">Try the prototype in InVision</a></p>
            <p><a href="https://startupshell.org/" target="_blank">See the website</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
        <a href="http://www.bitherogames.com/" target="_blank">
          <div class="project-img" id="bhg"></div>
        </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>LOGO DESIGN<h2>
            <h1>Bit Hero Games<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">Logo Design</h3>
            <h3 class="tag">Branding</h3>
          </div>
          <div class="project-description">
            <p>
              Bit Hero Games is a mobile game development company responsible for addicting games like <a href="https://itunes.apple.com/us/app/qb-hero/id1011415692?mt=8" target="_blank">QB Hero</a>. The brand aims to represent high intensity, fun to play action games.
            </p>
          </div>
          <div class="project-cta">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project-cover">
          <a href="https://www.youtube.com/watch?v=F3QVCpipDCY" target="_blank">
            <div class="project-img" id="slide"></div>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project-detail">
          <div class="project-header">
            <h2>IOS DEVELOPMENT<h2>
            <h1>Slide: Nearby<h1>
          </div>
          <div class="project-tags">
            <h3 class="tag">iOS Development</h3>
          </div>
          <div class="project-description">
            <p>
              Slide is a mobile gift card wallet that allows you to use your gift cards on the go while leaving your physical gift cards at home. The nearby feature shows you nearby places where you can spend your gift cards.
            </p>
          </div>
          <div class="project-cta">
            <p><a href="https://www.youtube.com/watch?v=F3QVCpipDCY" target="_blank">See a live demo</a></p>
            <p><a href="https://itunes.apple.com/us/app/slide-gift-card-shop-mobile-wallet/id988860707?mt=8" target="_blank">Get the app on the App Store</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/content}}
{{/extend}}
