{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="container">
  <div class="nav-bar">
    <div class="nav-item center-block"><a class="div-fill" href="https://www.linkedin.com/in/samuel-drozdov" target="_blank"></a></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://twitter.com/SamuelDrozdov" target="_blank"></a></div>
    <div class="nav-item center-block profile-pic"></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://dribbble.com/droz" target="_blank"></a></div>
    <div class="nav-item center-block"><a class="div-fill" href="https://medium.com/@drozzz" target="_blank"></a></div>
  </div>

  <div class="name">
    <div class="row"> 
      <div class="col-md-12">
        <h2>Sam Drozdov</h2>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="row"> 
      <div class="col-md-12 col-sm-12 col-xs-12">
        I solve problems with design and code. Currently directing at <a class="text-link" id="startup-shell" href="https://startupshell.org/" target="_blank">Startup Shell</a>. Co-founded <a class="text-link" id="passenger" href="https://itunes.apple.com/us/app/passenger-commute-mnr-metro/id1001614865" target="_blank">Passenger</a>. Worked with <a class="text-link"  id="slide" href="https://getslide.com/" target="_blank">Slide</a>, <a class="text-link" id="make-school" href="https://www.makeschool.com/" target="_blank">Make School</a>. Studying computer science at the University of Maryland.
      </div>
    </div>
  </div>

  <div class="projects">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project" id="passenger"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project" id="startup-shell-web"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="project" id="slide"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="project" id="bhg"></div>
      </div>
    </div>
  </div>
</div>
{{/content}}
{{/extend}}
